@tailwind base;
@tailwind components;
@tailwind utilities;

/* .root {
  height: 100vh;
} */

.button-outline {
  border: 1px solid #1d59f9;
  color: #1d59f9;
}
.bg-primary-custom {
  background-color: #1d59f9;
}
:hover.bg-primary-custom {
  background-color: #3d70fc;
}
:focus.bg-primary-custom {
  background-color: #3d70fc;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: -10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3a57ec;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3a57ec;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-menu-custom {
  width: 100% !important;
}
.font-small {
  font-size: 13px;
}
.font-base {
  font-size: 16px;
}
.font-large {
  font-size: 18px;
}
.font-xl {
  font-size: 24px;
}

/* CHECKBOX STYLING BELOW*/
/* The container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 26px;
  width: 25px;
  border: 4px solid #52525b;
  background-color: white !important  ;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #d6edff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: 4px solid #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: none;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* CHECKBOX STYLING ABOVE */

/* PLACEHOLDER BELOW*/
.placeholder-grey::-webkit-input-placeholder {
  color: #52525b;
  opacity: 1;
}
.placeholder-grey:-moz-placeholder {
  color: #52525b;
}
/* PLACEHOLDER ABOVE*/

/* RADIO BUTTON BELOW*/

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 16px;
  transition: all 0.15s ease-out 0s;
  border: 1px solid #cbd5e1;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:checked {
  background: #1d59f9;
  border: 1px solid #1d59f9;
}
.option-input:checked::before {
  width: 16px;
  height: 16px;
  display: flex;
  content: '\f00c';
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  left: -1px;
  align-items: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Free';
}
.option-input:checked::after {
  background: #1d59f9;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/* RADIO BUTTON ABOVE */
